<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Redirect GMap.NET.Core from 1.9.x to 2.1.7 -->
      <dependentAssembly>
        <assemblyIdentity name="GMap.NET.Core" publicKeyToken="b85b9027b614afef" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.1.7.0" />
      </dependentAssembly>
      <!-- Redirect GMap.NET.WindowsForms from 1.9.x to 2.1.7 -->
      <dependentAssembly>
        <assemblyIdentity name="GMap.NET.WindowsForms" publicKeyToken="b85b9027b614afef" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.1.7.0" />
      </dependentAssembly>
      <!-- Redirect Newtonsoft.Json from 11.0.0.0 to 13.0.0.0 -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-12.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <!-- Redirect GMap.NET.WindowsPresentation from 1.9.x to 2.1.7 -->
      <dependentAssembly>
        <assemblyIdentity name="GMap.NET.WindowsPresentation" publicKeyToken="b85b9027b614afef" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.1.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
